/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    phac-nml/venae Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Input options
    input                      =  null

    // Report-specific parameters
    report_name                     = "report"
    timepoint                       = "3h"
    run_name                        = "20250514"

    // Boilerplate options
    outdir                       = null
    publish_dir_mode             = 'copy'
    email                        = null
    email_on_fail                = null
    plaintext_email              = false
    monochrome_logs              = false
    help                         = false
    help_full                    = false
    show_hidden                  = false
    version                      = false
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
    trace_report_suffix          = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')// Config options
    config_profile_name        = null
    config_profile_description = null

    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact     = null
    config_profile_url         = null

    // Schema validation default options
    validate_params            = true

    // Data processing thresholds
    spp_detection_percent_threshold = 2
    spp_min_number_reads_threshold  = 10
    min_read_qcore                  = 10
    min_median_read_length_bp       = 500

    //Databases
    db_dir = "${projectDir}/data"
    nohuman_db   = "${params.db_dir}/db_nohuman/db/"
    checkm2_db   = "${params.db_dir}/db_checkm2/CheckM2_database/uniref100.KO.1.dmnd"
    kraken2_db   = "${params.db_dir}/db_k2_pluspf_08gb_20241228/"
    sylph_db_bac= "${params.db_dir}/db_sylph/gtdb-r220-c200-dbv1.syldb"
    sylph_db_fungi = "${params.db_dir}/db_sylph/fungi-refseq-2024-07-25-c200-v0.3.syldb"
    sylph_tax_bac = "${params.db_dir}/db_sylph-tax/gtdb_r220_metadata.tsv.gz"
    sylph_tax_fungi = "${params.db_dir}/db_sylph-tax/fungi_refseq_2024-07-25_metadata.tsv.gz"

    // Included data/resources
    pointfinder_orgs = "${projectDir}/data/pointfinder_organism.tsv"
    emmtyper_db = "${projectDir}/data/db_emmtyper/emm_types_20250131.fasta"
    kmerresistance_db_arg = "${projectDir}/data/db_kmerresistance/resfinder_v2.4.0"
    kmerresistance_db_spp = "${projectDir}/data/db_kmerresistance/species_placeholder"
    genomesize_key   = "${projectDir}/data/ncbi_genus_size.tsv"
    cge_key      = "${projectDir}/data/cge_key_20240612_phenotypes.txt"
    clsi_key    = "${projectDir}/data/clsi_key.txt"
    clsi_tables = "${projectDir}/data/Table1*.tsv"

    // Other tool params
    flye_mode = "--nano-hq"
    kraken2_save_output_fastqs = false
    kraken2_save_reads_assignment = false
    abricate_databasedir = []

    // Placeholder empty files
    no_failed    = "qc_failed_assemblies.txt"
    no_sylph     = "spp_sylph_taxonomy.tsv"
    no_staph     = "typing_staph_aureus_toxins.tsv"
    no_strep     = "typing_strep_pyo_emm.tsv"
    no_checkm    = "qc_assembly_checkm2.tsv"
    no_coverage  = "qc_assembly_coverage.tsv"
    no_staramr   = "amr_staramr_detailed_summary.tsv"
    no_kmerres   = "amr_kmerresistance_summary.tsv"
    no_reads_filt = "qc_read_metrics_cleanfilt.tsv"

}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled           = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        conda.channels          = ['conda-forge', 'bioconda']
        apptainer.enabled       = false
    }
    mamba {
        conda.enabled           = true
        conda.useMamba          = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    arm {
        docker.runOptions       = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    podman {
        podman.enabled          = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    shifter {
        shifter.enabled         = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    charliecloud {
        charliecloud.enabled    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        apptainer.enabled       = false
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    test      { includeConfig 'conf/test.config'      }
    test_full { includeConfig 'conf/test_full.config' }
}



// Set default registry for Apptainer, Docker, Podman, Charliecloud and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Charliecloud / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry    = 'quay.io'
docker.registry       = 'quay.io'
podman.registry       = 'quay.io'
singularity.registry  = 'quay.io'
charliecloud.registry = 'quay.io'



// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Set bash options
process.shell = [
    "bash",
    "-C",         // No clobber - prevent output redirection from overwriting files.
    "-e",         // Exit if a tool returns a non-zero status/exit code
    "-u",         // Treat unset variables and parameters as an error
    "-o",         // Returns the status of the last command to exit..
    "pipefail"    //   ..with a non-zero status or zero if all successfully execute
]

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

manifest {
    name            = 'phac-nml/venae'
    author          = """Nicole Lerminiaux""" // The author field is deprecated from Nextflow version 24.10.0, use contributors instead
    contributors    = [
        [
            name: 'Nicole Lerminiaux',
            affiliation: '',
            email: '',
            github: '',
            contribution: [
                [
                    name: 'Nicole Lerminiaux',
                    affiliation: 'National Microbiology Lab, Public Health Agency of Canada, Canada',
                    email: 'nicole.lerminiaux@phac-aspc.gc.ca',
                    github: '@lerminin',
                    contribution: ['author', 'maintainer'], // List of contribution types ('author', 'maintainer' or 'contributor')
                    orcid: '0000-0001-7914-9198'
                ],
                [
                    name: 'Ken Fakharuddin',
                    affiliation: 'National Microbiology Lab, Public Health Agency of Canada, Canada',
                    contribution: 'contributor'
                ],
                [
                    name: 'Heather Adam',
                    affiliation: 'Shared Health, Canada',
                    contribution: 'contributor'
                ],
                [
                    name: 'Amrita Bharat',
                    affiliation: 'National Microbiology Lab, Public Health Agency of Canada, Canada',
                    contribution: 'contributor'
                ],
                [
                    name: 'George R. Golding',
                    affiliation: 'National Microbiology Lab, Public Health Agency of Canada, Canada',
                    contribution: 'contributor'
                ],
                [
                    name: 'Irene Martin',
                    affiliation: 'National Microbiology Lab, Public Health Agency of Canada, Canada',
                    contribution: 'contributor'
                ],
                [
                    name: 'Michael Mulvey',
                    affiliation: 'National Microbiology Lab, Public Health Agency of Canada, Canada',
                    contribution: 'contributor'
                ],
                [
                    name: 'Laura Mataseje',
                    affiliation: 'National Microbiology Lab, Public Health Agency of Canada, Canada',
                    email: 'laura.mataseje@phac-aspc.gc.ca',
                    contribution: 'contributor'
                ]
            ],
        ],
    ]
    homePage        = 'https://github.com/phac-nml/venae'
    description     = """A workflow to rapidly identify species and antimicrobial resistance genes in positive blood cultures sequenced using Oxford Nanopore Technologies (ONT)"""
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>=24.04.2'
    version         = '0.2.0'
    doi             = ''
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.2.0' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

validation {
    defaultIgnoreParams = ["genomes"]
    monochromeLogs = params.monochrome_logs
    help {
        enabled = true
        command = "nextflow run phac-nml/venae -profile <docker/singularity/.../institute> --input samplesheet.csv --outdir <OUTDIR>"
        fullParameter = "help_full"
        showHiddenParameter = "show_hidden"
    }
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'
