/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

process {

    resourceLimits = [
        cpus: 1,
        memory: '8.GB',
        time: '1.h'
    ]
}
