/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    modules_testdata_base_path = "${projectDir}/tests/test_data/"
    pipelines_testdata_base_path = "${projectDir}/tests/test_data/"
    outdir = 'results'
    db_dir = "${projectDir}/../"
    resource_dir = "${projectDir}/data/"
}

process {

    resourceLimits = [
        cpus: 1,
        memory: '8.GB',
        time: '1.h'
    ]
}
