/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'NOHUMAN' {
        ext.args = '-v'
        ext.prefix = ''
        publishDir = [
            [
                path: { "${params.outdir}/qc_reads" },
                mode: params.publish_dir_mode,
                pattern: "*clean.fastq*"
            ],
            [
                path: { "${params.outdir}/logs/nohuman" },
                mode: params.publish_dir_mode,
                pattern: "*.out"
            ]
        ]
    }

    withName: 'NOHUMAN_STATS' {
        ext.args = '-v'
        ext.prefix = ''
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            pattern: "*.tsv",
            ]
    }

    withName: 'NANOQ_FILT2K' {
        ext.args = '-l 2000 -q 10'
        ext.prefix = { "${meta.id}_filt2k" }
        publishDir = [
            [
                path: { "${params.outdir}/qc_reads" },
                mode: params.publish_dir_mode,
                pattern: "*.{fastq.gz,stats}"
            ],
            [
                path: { "${params.outdir}/logs/nanoq" },
                mode: params.publish_dir_mode,
                pattern: "*.log",
                saveAs: { fn -> "${task.ext.prefix}_command.log"}
            ]
        ]
    }

    withName: 'NANOQ_FILT1K' {
        ext.args = '-l 1000 -q 10'
        ext.prefix = { "${meta.id}_filt1k" }
        publishDir = [
            [
                path: { "${params.outdir}/qc_reads" },
                mode: params.publish_dir_mode,
                pattern: "*.{fastq.gz,stats}"
            ],
            [
                path: { "${params.outdir}/logs/nanoq" },
                mode: params.publish_dir_mode,
                pattern: "*.log",
                saveAs: { fn -> "${task.ext.prefix}_command.log"}
            ]
        ]
    }

    withName: 'NANOQ_STATS' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            pattern: "*tsv"
        ]
    }

    withName: 'NANOPLOT_RAW' {
        ext.prefix = { "${meta.id}_" }
        ext.args = { "--loglength --no_static --tsv_stats" }
        publishDir = [
            [
                path: { "${params.outdir}/qc_nanoplot/${task.ext.prefix}_raw" },
                mode: params.publish_dir_mode,
                pattern: "*NanoStats.txt"
            ],
            [
                path: { "${params.outdir}/qc_nanoplot/${task.ext.prefix}_raw" },
                mode: params.publish_dir_mode,
                pattern: "*NanoPlot-report.html"

            ]
        ]
    }

    withName: 'NANOPLOT_CLEAN' {
        ext.prefix = { "${meta.id}_" }
        ext.args = { "--loglength --no_static --tsv_stats" }
        publishDir = [
            [
                path: { "${params.outdir}/qc_nanoplot/${task.ext.prefix}_clean" },
                mode: params.publish_dir_mode,
                pattern: "*NanoStats.txt"
            ],
            [
                path: { "${params.outdir}/qc_nanoplot/${task.ext.prefix}_clean" },
                mode: params.publish_dir_mode,
                pattern: "*NanoPlot-report.html"
            ]
        ]
    }

    withName: 'NANOPLOT_CLEAN_STATS' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            pattern: "*tsv"
        ]
    }

    withName: 'FLYE' {
        ext.args = { "--meta" }
        ext.prefix = ''
        publishDir = [
            [
                path: { "${params.outdir}/assembly_flye/" },
                mode: params.publish_dir_mode,
                pattern: "*assembly_info.txt"
            ],
            [
                path: { "${params.outdir}/assembly_flye/" },
                mode: params.publish_dir_mode,
                pattern: "*assembly.{fasta,gfa}"
            ],
            [
                path: { "${params.outdir}/logs/flye" },
                mode: params.publish_dir_mode,
                pattern: "*flye.log",
            ]
        ]
    }

    withName: 'COVERM_GENOME' {
        ext.args = { "--min-covered-fraction 0" }
        ext.prefix = { "${meta.id}" }
        publishDir = [
            [
                path: { "${params.outdir}/assembly_coverm/" },
                mode: params.publish_dir_mode,
                pattern: "*coverage.tsv"
            ],
            [
                path: { "${params.outdir}/logs/coverm" },
                mode: params.publish_dir_mode,
                pattern: "*command.log",
                saveAs: { fn -> "${task.ext.prefix}_command.log"}
            ]
        ]
    }

    withName: 'COVERM_CONCATENATE' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            pattern: "*tsv"
        ]
    }

    withName: 'CHECKM2_PREDICT' {
        ext.args = { "-x fasta --remove_intermediates --force" }
        ext.prefix = { "" }
        publishDir = [
            [
                path: { "${params.outdir}" },
                mode: params.publish_dir_mode,
                pattern: "*checkm2.tsv"
            ],
            [
                path: { "${params.outdir}/logs/checkm2" },
                mode: params.publish_dir_mode,
                pattern: "*command.log",
                saveAs: { fn -> "${task.ext.prefix}_command.log"}
            ]
        ]
    }

    withName: 'KRAKEN2_KRAKEN2' {
        ext.args = { "--use-names" }
        ext.prefix = { "${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/spp_kraken2" },
            mode: params.publish_dir_mode,
            pattern: "*report.txt",
            saveAs: { fn -> "${task.ext.prefix}.kreport"}
        ]
    }

    withName: 'KRAKEN2_SUMMARY' {
        ext.args = { "" }
        ext.prefix = { "${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/spp_kraken2" },
            mode: params.publish_dir_mode,
            pattern: "*spp.tsv"
        ]
    }

    withName: 'KRAKEN2_CONCATENATE' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            pattern: "*classification.tsv"
        ]
    }

    withName: 'SYLPH_SKETCH' {
        ext.args = { "-c 200" }
        ext.prefix = { "${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/logs/sylph_sketch" },
            mode: params.publish_dir_mode,
            pattern: "*command.log",
            saveAs: { fn -> "${task.ext.prefix}_command.log"}
        ]
    }

    withName: 'SYLPH_PROFILE' {
        ext.args = { "-u" }
        publishDir = [
            [
                path: { "${params.outdir}" },
                mode: params.publish_dir_mode,
                pattern: "profile.tsv",
                saveAs: { fn -> "spp_sylph_profile.tsv"}
            ],
            [
                path: { "${params.outdir}/logs/sylph_profile" },
                mode: params.publish_dir_mode,
                pattern: "*command.log",
                saveAs: { fn -> "profile_command.log"}
            ]
        ]
    }

    withName: 'SYLPHTAX_TAXPROF' {
        publishDir = [
            [
                path: { "${params.outdir}" },
                mode: params.publish_dir_mode,
                pattern: "*.tsv",
                saveAs: { fn -> "spp_sylph_taxonomy.tsv"}
            ],
            [
                path: { "${params.outdir}/logs/sylph-tax" },
                mode: params.publish_dir_mode,
                pattern: "*command.log",
                saveAs: { fn -> "taxprof_command.log"}
            ]
        ]
    }

    withName: 'ASSIGN_ORGANISM_AMR' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            pattern: "*.tsv"
        ]
    }

    withName: 'EMMTYPER' {
        ext.args = { "--output-format verbose" }
        ext.prefix = { "${meta.id}" }
        publishDir = [
            [
                path: { "${params.outdir}/typing_strep_pyo" },
                mode: params.publish_dir_mode,
                pattern: "*.tsv"
            ],
            [
                path: { "${params.outdir}/logs/emmtyper" },
                mode: params.publish_dir_mode,
                pattern: "*command.log",
                saveAs: { fn -> "${task.ext.prefix}_command.log"}
            ]
        ]
    }

    withName: 'EMMTYPER_CONCATENATE' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            pattern: "*tsv"
        ]
    }

    withName: 'ABRICATE_RUN' {
        ext.args = { "--db vfdb" }
        ext.prefix = { "${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/typing_staph_aureus" },
            mode: params.publish_dir_mode,
            pattern: "*.txt"
        ]
    }

    withName: 'ABRICATE_CONCATENATE' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            pattern: "*.tsv"
        ]
    }

    withName: 'KMERRESISTANCE' {
        ext.args = { "-ont" }
        ext.prefix = { "${meta.id}" }
        publishDir = [
            [
                path: { "${params.outdir}/amr_kmerresistance" },
                mode: params.publish_dir_mode,
                pattern: "*.KmerRes"
            ],
            [
                path: { "${params.outdir}/logs/kmerresistance" },
                mode: params.publish_dir_mode,
                pattern: "*command.log",
                saveAs: { fn -> "${task.ext.prefix}_command.log"}
            ]
        ]
    }

    withName: 'KMERRESISTANCE_CONCATENATE' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            pattern: "*.tsv"
        ]
    }

    withName: 'CHROQUETAS' {
        ext.args = { "" }
        ext.prefix = { "${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/amr_chroquetas" },
            mode: params.publish_dir_mode,
            pattern: "*results/*.{txt}"
        ]
    }

    withName: 'CHROQUETAS_CONCATENATE' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            pattern: "*.tsv"
        ]
    }

    withName: 'STARAMR_SEARCH' {
        ext.args = { "--pid-threshold 90" }
        ext.prefix = { "${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/amr_staramr" },
            mode: params.publish_dir_mode,
            pattern: "*results/*.{tsv,txt}"
        ]
    }

    withName: 'STARAMR_CONCATENATE' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            pattern: "*.tsv"
        ]
    }

    withName: 'GENERATE_REPORT' {
        publishDir = [
            [
                path: { "${params.outdir}" },
                mode: params.publish_dir_mode,
                pattern: "*.html"
            ],
            [
                path: { "${params.outdir}/logs/report" },
                mode: params.publish_dir_mode,
                pattern: "*command.log"
            ]
        ]
    }
}
